
.backround{
    background-image: url(../akes/Jowhareh_galleries_poster_e46d875e-83c9-42ce-a448-a8f293a8bf7f\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.center{
    text-align: center;
}
.bb{
    background-image: linear-gradient(303deg, rgba(0,235,255,0.95) 0%, rgba(58,76,180,1) 79%);
}

.text {
   
  
    text-transform: capitalize;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    
    text-align: center;
    font-family: "Arial", sans-serif;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
  }
  
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }